

html {
  background: #add8e6;
  padding: 25px;
}
/* Login component */
.login-wrapper {
    text-align: center;
}

.login-border {
  border: 3px solid white;
  border-radius: 10px;
  padding: 25px; padding-bottom: 47px;
}

.nav-list {
  display: flex; justify-content: space-between;
  list-style: none;
  margin-bottom: 45px; padding: 0;

}

.nav-loggedUser {
  border-bottom: 3px solid white;
  padding-bottom: 3px;
}

.nav-logout {
  font-size: 10px;
  margin-left: -75px;
  margin-top: 12px;
}

.nav-list a {
  color: purple;
  text-decoration: none;

}