

html {
  background: #add8e6;
  font-family: 'Montserrat', sans-serif;
  padding: 25px;
}
/* Login component */
.login-wrapper {
    margin: auto;
    text-align: center;
    width: 50%;
}

.login-border {
  border: 3px solid white;
  border-radius: 10px;
  padding: 25px; padding-bottom: 47px;
}

.nav-list {
  border: 2px solid purple; border-radius: 50px;
  box-shadow: 0px 2px 6px grey;
  display: flex; justify-content: space-between;
  list-style: none;
  margin: 0px auto 45px; padding: 0;
  max-width: 950px;
  padding: 20px;

}

.nav-list li {
  color: purple;
}

.nav-loggedUser {
  border-bottom: 3px solid white;
  padding-bottom: 3px;
}

.nav-logout {
  font-size: 10px;
  margin-left: -120px;
  margin-top: 12px;
}

.nav-list a {
  padding-bottom: 10px;
  text-decoration: none;

}